# Foundry & Solidity
out/
cache/
cache_forge/

# Node modules & dependencies
node_modules/

# Broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Coverage & testing
lcov.info
coverage/
.coverage_artifacts/
.coverage_cache/
.coverage_contracts/

# Typechain
typechain-types/
artifacts/

# Environment
.env
.env.*

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Docs
docs/ 